@font-face {
  font-family: circular;
  src: url(assets/fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: circular-bold;
  src: url(assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: circular-light;
  src: url(assets/fonts/CircularStd-Light.otf);
}
.card-text {
  font-size: medium;
}
body {
  font-family: circular, sans-serif;
}

.cir-bold {
  font-family: circular-bold, sans-serif;
}

.cir-light {
  font-family: circular-light, sans-serif;
}

footer {
  background-color: #121212;
}

footer a {
  text-decoration: none;
  color: #828282;
  font-family: circular;
  margin-top: 20px;
}

footer a:hover {
  text-decoration: underline;
  color: white;
  font-family: circular-bold;
}
footer h5 {
  color: white;
}
.divider {
  border-top: 1px solid #828282;
  width: 100%;
}
.i-footer {
  padding: 10px;
  margin-left: 30px;
  background-color: #282828;
  color: white;
  height: 50px;
  width: 50px;
}

.i-footer:hover {
  padding: 10px;
  margin-left: 30px;
  cursor: pointer;
  background-color: #929292;
}

* {
  /* outline: 1px solid grey; */
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
.margin-div {
  height: 100vh;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}
.home-container {
  height: 100%;
  /* margin-top: .5rem; */
  display: flex;
}

/* SCROLLBAR------------------------------------- */
/* Firefox */
#section-hidden {
  overflow: hidden;
  background-color: #000000;
  width: 60%;
  border-radius: 10px;
}
.main-content,
#library-deck {
  scrollbar-width: thin;
  scrollbar-color: #b2b2b2 #000000;
}

/* Chrome, Edge and Safari */
.main-content::-webkit-scrollbar,
#library-deck::-webkit-scrollbar {
  width: 15px;
}
.main-content::-webkit-scrollbar-track,
#library-deck::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #000000;
}

.main-content::-webkit-scrollbar-track:hover,
#library-deck::-webkit-scrollbar-track:hover,
.main-content::-webkit-scrollbar-track:active,
#library-deck::-webkit-scrollbar-track:active {
  background-color: #000000;
}

.main-content::-webkit-scrollbar-thumb,
#library-deck::-webkit-scrollbar-thumb {
  border-radius: none;
  background-color: #b2b2b2;
}

.main-content::-webkit-scrollbar-thumb:hover,
#library-deck::-webkit-scrollbar-thumb:hover {
  background-color: #929292;
}

.main-content::-webkit-scrollbar-thumb:active,
#library-deck::-webkit-scrollbar-thumb:active {
  background-color: #828282;
}

.home-aside {
  flex-shrink: 0;
  border-radius: 10px !important;
  overflow: hidden;
  width: 400px;
}
/* .main-content-wrap{
    overflow: hidden;
    border-radius: 10px;
} */
.main-content {
  border-radius: 10px;
  overflow-x: hidden;
  flex-grow: 1;
}
.prova-img {
  width: 100%;
}

.bg-img {
  background-image: url("../assets/imgs/main/image-12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-lin {
  background-image: linear-gradient(
    360deg,
    black 3%,
    transparent 50%,
    transparent
  );
}
.tw {
  width: 30%;
}
.he {
  height: 50vh;
}
.abs {
  left: 20px;
  bottom: 15px;
}
.colo {
  background-color: #181818c0;
}

.img-album {
  padding: 15px;
}
body {
  background-color: #000000;
}
.container-album {
  background-color: #121212;
}
.container-card {
  padding: 20px;
}
.card {
  background-color: #181818;
}
.card:hover {
  background-color: #282828;
  cursor: pointer;
}

#c-img {
  position: relative;
}
#c-img svg {
  position: absolute;
  z-index: 1;
  top: 66%;
  left: 66%;
  visibility: hidden;
}
.card:hover #c-img svg {
  visibility: visible;
}

.play-card:hover {
  transform: scale(1.1);
}

/* LIBRERIA /ASIDE ICON */
body {
  background-color: #000000;
}
.libreria,
.card-libreria {
  background-color: #121212;
}
/* .card-libreria:hover {
  cursor: pointer;
  background-color: #181818;
} */
.a,
.i {
  color: white;
  opacity: 0.5;
  font-size: 1.2em;
}
.i {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.5em;
}
.a:hover,
.i:hover {
  color: white;
  opacity: 1;
}
.i:hover {
  border: 1px solid transparent;
  background-color: #0000004a;
}
.img-libreria {
  height: 50px;
  width: 50px;
}

.btn-libreria {
  border: 1px solid transparent;
  background-color: #181818;
  font-size: 0.9em;
  padding: 0.4em 1.2em;
}
.btn-libreria:hover {
  background-color: rgba(255, 255, 255, 0.082);
}
.bg-aside {
  background-color: #121212;
}
.navbar {
  background-color: #121212;
}

/* TOOLTIP */
.custom-tooltip {
  font-weight: bold;
  font-size: 0.8em;

  --bs-tooltip-bg: var(--bs-dark);
}

@media (min-width: 350px) and (max-width: 500px) {
}
