:root {
  --spotifycolor: #1db954;
}

#player {
  position: fixed;
  bottom: 0;
  height: 120px;
}

#left-element,
#right-element {
}

#album-cover {
  width: 80px;
}

#connect-icon {
  fill: #1db954;
}
