:root {
  --spotifycolor: #1db954;
}

#player {
  position: fixed;
  bottom: 0;
  height: 120px;
}

#left-element,
#right-element {
}

#album-cover {
  width: 80px;
}

#volume-range-div {
  width: 80px;
}

#volume-range {
  height: 3px;
}

#song-range {
  width: 500px;
  height: 4px;
}

#shuffle-active,
#repeat-active {
  margin: 1px;
}
