:root {
  --spotifycolor: #1db954;
}

#player {
  position: fixed;
  bottom: 0;
  height: 120px;
  min-width: 900px;
}

#left-element,
#right-element {
}

#album-cover {
  width: 80px;
}

#volume-range-div {
  width: 1vh;
}

#volume-range {
  height: 3px;
}

#song-range {
  width: 100%;
  height: 4px;
}

#shuffle-active,
#repeat-active {
  margin-bottom: -10px;
}

.controller-icon,
.player-extra-icons {
  opacity: 0.8;
  cursor: default;
}

.controller-icon:hover,
.player-extra-icons:hover {
  opacity: 1;
}

#play-button:hover {
  transform: scale(1.05);
}

button {
  background-color: transparent;
  border: none;
}

#shuffle-active,
#repeat-active {
  display: none;
}

.active-btn {
  #shuffle-active,
  #repeat-active {
    display: block;
    color: #1db954;
  }
  #shuffle,
  #repeat,
  #about,
  #queue,
  #connect,
  #volume {
    fill: #1db954;
  }

  #about,
  #queue,
  #connect,
  #volume {
    transform: scale(1.05);
  }
}

#artist {
  font-weight: 300;
  opacity: 0.6;
  font-size: 0.9em;
  cursor: pointer;
}

#artist:hover {
  text-decoration: underline;
}

#title {
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
}

#title:hover {
  text-decoration: underline;
}
